* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(326deg, #000000, #5a5a5a);
    background-size: 400% 400%;

    -webkit-animation: back 2s ease infinite;
    -moz-animation: back 2s ease infinite;
    -o-animation: back 2s ease infinite;
    animation: back 2s ease infinite;
}

@-webkit-keyframes back {
    0% {
        background-position: 7% 0%
    }

    50% {
        background-position: 94% 100%
    }

    100% {
        background-position: 7% 0%
    }
}

@-moz-keyframes back {
    0% {
        background-position: 7% 0%
    }

    50% {
        background-position: 94% 100%
    }

    100% {
        background-position: 7% 0%
    }
}

@-o-keyframes back {
    0% {
        background-position: 7% 0%
    }

    50% {
        background-position: 94% 100%
    }

    100% {
        background-position: 7% 0%
    }
}

@keyframes back {
    0% {
        background-position: 7% 0%
    }

    50% {
        background-position: 94% 100%
    }

    100% {
        background-position: 7% 0%
    }
}

#todoContainer {
    background-color: white;
    padding: 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0.5rem 1.25rem rgba(0, 0, 0, 0.1);
    width: 30rem;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
    color: #000000;
    margin-bottom: 1.25rem;
    letter-spacing: 0.1rem;
}

form {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

input[type="text"] {
    padding: 0.75rem;
    font-size: 1rem;
    border: 0.125rem solid #dfe1e6;
    border-radius: 0.375rem;
    width: 70%;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #000000;
    outline: none;
}

button {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#addTaskButton {
    color: white;
    background-color: rgb(0, 0, 0);

}

#addTaskButton:focus {
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px solid rgb(0, 0, 0);

}

ul {
    list-style-type: none;
    padding: 0.625rem;
}

li {
    background-color: #fff;
    padding: 0.4rem;
    margin-bottom: 0.625rem;
    border: 0.01rem solid #d6d4d4;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    transition: box-shadow 0.3s;
}

li:hover {
    box-shadow: 0px 0.5rem 1.3rem rgba(0, 0, 0, 0.05);
}

.todo-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.todo-content span {
    flex-grow: 1;
}

.buttons {
    display: flex;
    gap: 0.3rem;
}

li button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(208, 205, 205);
}

li button:hover {
    color: black;
}


.completed {
    text-decoration: line-through;
    color: rgb(195, 191, 191);
}

.todo-checkbox {
    transform: scale(1.5);
    margin-left: 0.8rem;
    accent-color: black;
}